.completed {
    background: #FFFFFF;
    padding-top: 90px;
    padding-bottom: 90px;

    // &__container {
    // }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        margin-top: 60px;
    }

    &__more {
        width: 188px;
        height: 68px;
        margin: 0 auto;
        margin-top: 15px;

        &:hover {
            cursor: pointer;
        }
    }
}

.completed-item {
    border-radius: 24px;
    overflow: hidden;
    
    flex: 0 1 49%;

    height: 364px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 50px;
    padding-bottom: 41px;
    box-sizing: border-box;
    margin-bottom: 25px;

    &::before {
       display: block;
       background-color: rgba(0,0,0,0.35);
       position: absolute;
       content: "";
       top: 0;
       left: 0;
       width: 100%;
       height: 100%; 
       z-index: 1;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
    }

    &__header {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */
        margin-bottom: 20px;
        max-width: 500px;
        position: relative;
        z-index: 2;
        padding-right: 10px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 48px;
        background: #FFF;
        width: 186px;
        height: 68px;
        color: #2B54A3;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;
        z-index: 2;

        transition: transform 0.5s;
        &:hover {
            transform: translateY(-10px);
        }
    }
}

@media (max-width: 1000px) {
    .completed {
        &__items {
            display: block;
        }
    }
}

@media (max-width: 600px) {
    .completed {
        padding-top: 26px;
        padding-bottom: 50px;

        &__items {
            margin-top: 40px;
        }

        &__more {
            margin-top: 30px;
        }
    }

    .completed-item {
        padding-left: 30px;
        padding-bottom: 30px;
        height: 340px;
        margin-bottom: 20px;

        &__header {
            font-size: 20px;
        }
    
        h3 {
            padding-right: 20px;
        }
    }
}