.faq {
    background: #F8FBFF;
    padding-top: 90px;
    padding-bottom: 100px;

    // &__container {
    // }

    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__left {
        flex: 0 1 58%;
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 0px 25px 0px rgba(14, 35, 59, 0.07);
        padding: 45px 26px 44px 35px;
        box-sizing: border-box;
    }

    &__right {
        flex: 0 1 40%;
        height: fit-content;
        border-radius: 24px;
        background: #0E233B;
    }
}

.faq-spoiler {

    &__item {
        //min-height: 98px;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
        
        &::after {
            position: absolute;
            left: 10px;
            bottom: 0;
            display: block;
            content: "";
            width: 97%;
            border-bottom: 1px solid #ECF3FC;
        }

        &:last-child::after {
            display: none;
        }

        &:hover {
            cursor: pointer;
            background: #F8FBFF;
            border-radius: 12px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        box-sizing: border-box;
        transition: all 0.2s;

        button {
            flex: 0 0 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #E36D31;
            position: relative;

            &::after, &::before {
                position: absolute;
                top: 23px;
                left: 17px;
                display: block;
                content: "";
                width: 14px;
                height: 2px;
                background-color: white;
                transition: all 0.5s;
            }

            &::before {
                transform: rotate(90deg);
            }

            &:hover {
                cursor: pointer;
            }
        }

        &.active {
            button::before {
                transform: rotate(0deg);
            }
        }
    }

    &__text {
        display: flex;

        img {
            width: 24px;
            height: 24px;
        }

        p {
            margin-left: 15px;
            flex: 0 1 560px;
            color: var(--dark-color, #3B444E);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            padding-right: 10px;
            box-sizing: border-box;
        }
    }

    &__body {
        display: none;
        color: var(--base-color, #6E7C87);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        padding-left: 38px;
        // padding-right: 38px;
        text-align: justify;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
}

.faq-right {
    padding: 65px 70px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &__img {
        position: absolute;
        top: -36px;
        right: -65px;
    }

    &__header {
        max-width: 280px;
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
        z-index: 10;
    }

    &__text {
        max-width: 280px;
        color: rgba(255, 255, 255, 0.70);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%; /* 26.1px */
        margin-top: 24px;
    }

    &__name, &__phone {
        width: 100%;
        height: 68px;
        border-radius: 48px;
        background: #FFF;        
        padding: 10px 24px;
        box-sizing: border-box;
        margin-bottom: 16px;
        font-size: 16px;

        &::placeholder {
            color: #AEBBCF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &:focus {
            outline: none;
        }
    }

    &__name {
        margin-top: 50px;
    }

    // &__phone {

    // }

    &__submit {
        width: 100%;
        height: 68px;

        &:hover {
            cursor: pointer;
        }
    }

    &__policy {
        color: rgba(255, 255, 255, 0.70);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        margin-top: 16px;

        a {
            color: rgba(255, 255, 255, 0.70);
            text-decoration-line: underline;
        }
    }
}

@media (max-width: 1080px) {
    .faq {
        &__flex {
            display: block;
        }

        &__right {
            margin: 0 auto;
            margin-top: 40px;
            max-width: 550px;
        }
    }
}

@media (max-width: 500px) {
    .faq {
        padding-top: 23px;

        &__left {
            background: none;
            box-shadow: none;
            padding: 0;
        }

        &__flex {
            margin-top: 30px;
        }
    }

    .faq-spoiler {
        &__item {
            margin-bottom: 19px;
            padding-bottom: 10px;
        }

        &__header {
            padding: 0;

            button {
                flex: 0 0 32px;
                height: 32px;
            }
        }

        &__text {
            p {
                font-size: 14px;
            }
        }

        &__body {
            font-size: 12px;
            margin-top: 5px;
        }
    }

    .faq-spoiler__header button::after, 
    .faq-spoiler__header button::before {
        top: 15px;
        left: 9px;
    }

    .faq-right {
        margin-top: 30px;
        padding: 30px 28px;

        &__text {
            font-size: 16px;
            margin-top: 16px;
        }

        &__name {
            margin-top: 22px;
        }

        &__img {
            top: -75px;
            right: -142px;
        }
    }
}