* {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

b {
    font-size: inherit;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: 'TT Firs Neue';
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box; /* Сам прибавляет padding */
}

._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        object-fit: cover;
    }
}

/* ----------------------------------- */

:root {
    --dark-color: #3B444E;
    --base-color: #6E7C87;
}


.color__blue {
    color: #2787F5;
}

.section__header {
    width: 100%;
    text-align: center;
    color: var(--dark-color, #3B444E);
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 68px;
    border-radius: 48px;
    background: linear-gradient(95deg, #1A1D83 -65.07%, #274F9E 42.74%, #477BC9 155.14%), #FFF;

    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    
}