.track {
    font-size: 15px;

    &__main {
        display: inline-block;
        color: var(--dark-color, #3B444E);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 21px */
    }

    &__delimiter {
        display: inline-block;
        color: var(--dark-color, #3B444E);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 21px */
    }

    &__current {
        display: inline-block;
        color: var(--base-color, #6E7C87);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 21px */
    }
}

@media (max-width: 500px) {
    .track {
        font-size: 12px;

    }
}