.trust {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #FFFFFF;

    &__container {
    }

    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {
        width: 320px;
        height: 160px;
    }
}