.trust {
    // padding-top: 90px;
    padding-top: 20px;
    padding-bottom: 90px;
    background: #FFFFFF;

    &__container {
    }

    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {
        width: 320px;
        height: 160px;
    }
}

@media (max-width: 800px) {
    .trust {
        &__items {
            margin-top: 38px;
            gap: 10px;
        }

        &__item {
            width: 165px;
            height: 83px;
        }
    }
}