.WhyChooseUs {
    background: #F8FBFF;
    padding-top: 90px;
    padding-bottom: 28px;

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    &__item {
        //max-width: 447px;
        flex: 0 1 32%;
        min-height: 477px;
        padding: 45px 45px 45px 50px;
        box-sizing: border-box;
        border-radius: 32px;
        background: #FFF;
        box-shadow: 0px 0px 25px 0px rgba(14, 35, 59, 0.05);
        margin-bottom: 30px;
    }

    &__img {
        height: 128px;
        width: 128px;
        background-color: #E6ECF4;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        margin-top: 24px;
        color: var(--dark-color, #3B444E);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__text {
        margin-top: 12px;
        color: var(--base-color, #6E7C87);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%; /* 23.2px */

        b {
            color: var(--dark-color, #3B444E);
            font-weight: 600;
        }
    }
}

@media (max-width: 1200px) {
    .WhyChooseUs {
        &__item {
            flex: 0 1 49%;
        }
    }
}

@media (max-width: 800px) {
    .WhyChooseUs {
        &__item {
            flex: 0 1 100%;
            min-height: fit-content;
        }
    }
}

@media (max-width: 650px) {
    .WhyChooseUs {
        padding-top: 46px;

        &__items {
            margin-top: 30px;
        }
    }
}

@media (max-width: 400px) {
    .WhyChooseUs {
        &__item {
            padding: 30px;
        }

        &__img {
            width: 92px;
            height: 92px;
        }

        &__name {
            font-size: 20px;
        }

        &__text {
            font-size: 14px;
        }
    }
}