@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "TT Firs Neue";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box; /* Сам прибавляет padding */
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----------------------------------- */
:root {
  --dark-color: #3B444E;
  --base-color: #6E7C87;
}

.color__blue {
  color: #2787F5;
}

.section__header {
  width: 100%;
  text-align: center;
  color: var(--dark-color, #3B444E);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  border-radius: 48px;
  background: linear-gradient(95deg, #1A1D83, #274F9E, #477BC9, #274F9E, #1A1D83);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  background-size: 200%;
  background-position: 0%;
}
.button:hover {
  background-position: 100%;
}

.promo {
  height: 980px;
}

.WhyChooseUs {
  background: #F8FBFF;
  padding-top: 90px;
  padding-bottom: 28px;
}
.WhyChooseUs__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}
.WhyChooseUs__item {
  max-width: 447px;
  height: 477px;
  padding: 45px 45px 45px 50px;
  box-sizing: border-box;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(14, 35, 59, 0.05);
  margin-bottom: 30px;
}
.WhyChooseUs__img {
  height: 128px;
  width: 128px;
  background-color: #E6ECF4;
  border-radius: 50%;
  overflow: hidden;
}
.WhyChooseUs__name {
  margin-top: 24px;
  color: var(--dark-color, #3B444E);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.WhyChooseUs__text {
  margin-top: 12px;
  color: var(--base-color, #6E7C87);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */
}
.WhyChooseUs__text b {
  color: var(--dark-color, #3B444E);
  font-weight: 600;
}

.services {
  padding-top: 90px;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}
.services__item {
  position: relative;
  height: 364px;
  flex: 0 1 40%;
  border-radius: 32px;
  overflow: hidden;
  padding: 0 55px 45px 55px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  transition: transform 0.5s;
}
.services__item_long {
  flex: 0 1 57%;
}
.services__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.services__name {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  position: absolute;
  bottom: 140px;
  left: 55px;
}
.services__button {
  position: absolute;
  left: 55px;
  bottom: 45px;
}
.services__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  position: absolute;
  bottom: 70px;
  left: 300px;
  padding-right: 10px;
  transition: all 0.5s;
}
.services__link:hover {
  transform: translateY(-5px);
}

.request {
  margin-top: 90px;
}
.request__container {
  border-radius: 48px;
  background: #2787F5;
  height: 512px;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.request__container img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.request h2 {
  color: #FFFFFF;
  font-size: 52px;
  font-weight: 600;
  line-height: normal;
  max-width: 500px;
}
.request__text {
  margin-top: 24px;
  margin-bottom: 48px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  max-width: 508px;
}
.request__form {
  display: flex;
  gap: 20px;
}
.request__input {
  width: 260px;
  height: 68px;
  padding: 10px 24px;
  border-radius: 48px;
  background: #FFF;
  color: var(--dark-color, #3B444E);
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}
.request__input::-moz-placeholder {
  color: #AEBBCF;
}
.request__input::placeholder {
  color: #AEBBCF;
}
.request__button {
  height: 68px;
  width: 260px;
}
.request__right {
  width: 680px;
  height: 312px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(14, 35, 59, 0.07);
  box-sizing: border-box;
  padding-left: 2.9vw;
  padding-top: 60px;
}

.request-right__header {
  position: relative;
  z-index: 5;
  color: var(--dark-color, #3B444E);
  font-size: 32px;
  font-weight: 600;
}
.request-right__header::before {
  display: inline-block;
  content: "";
  background-image: url("../img/icon/arrow.svg");
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.request-right__text {
  position: relative;
  z-index: 5;
  color: #6E7C87;
  font-size: 20px;
  font-weight: 400;
  line-height: 145%;
  max-width: 370px;
  margin-top: 24px;
}
.request-right__line {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.request-right__icon {
  width: 56px;
  height: 56px;
}
.request-right__number {
  position: relative;
  z-index: 5;
  color: #2B54A3;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 2px solid #2B54A3;
  margin-left: 15px;
}

.partners {
  background: #F8FBFF;
  margin-top: 70px;
  padding-bottom: 100px;
}
.partners__container {
  padding-top: 90px;
}
.partners__row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.partners-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partners-item__img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}
.partners-item p {
  max-width: 256px;
  color: var(--dark-color, #3B444E);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
}

.reliability {
  height: 1385px;
  background: #0E233B;
}
.reliability__header {
  color: #FFF;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  line-height: normal;
  max-width: 1185px;
  margin: 0 auto;
  padding-top: 90px;
}

.territory {
  padding-bottom: 90px;
}
.territory h2 {
  padding-top: 88px;
}
.territory p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-top: 20px;
}
.territory__img {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1014px;
}

.aboutCompany {
  background: #F8FBFF;
  padding-bottom: 44px;
}
.aboutCompany__container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.aboutCompany__header {
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: start;
  padding-top: 90px;
}
.aboutCompany__left {
  max-width: 715px;
}
.aboutCompany__left h3 {
  color: var(--dark-color, #3B444E);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 35px 0;
}
.aboutCompany__left h3:first-child {
  margin-top: 0;
}
.aboutCompany__left ul {
  list-style-type: none;
}
.aboutCompany__left ul li {
  display: flex;
  justify-content: start;
}
.aboutCompany__left ul li p {
  color: var(--base-color, #6E7C87);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 24px;
  text-align: justify;
}
.aboutCompany__text {
  max-width: 729px;
  color: var(--base-color, #6E7C87);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-top: -10px;
  text-align: justify;
}
.aboutCompany__marker {
  flex: 0 0 32px;
  height: 32px;
  margin-right: 12px;
}
.aboutCompany__img {
  border-radius: 24px;
  overflow: hidden;
  width: 30vw;
  height: 31vw;
}

.completed__container {
  margin-top: 90px;
  margin-bottom: 90px;
}
.completed__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}
.completed__more {
  width: 188px;
  height: 68px;
  margin: 0 auto;
  margin-top: 40px;
}
.completed__more:hover {
  cursor: pointer;
}

.completed-item {
  border-radius: 24px;
  overflow: hidden;
  width: 685px;
  height: 364px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 50px;
  padding-bottom: 41px;
  box-sizing: border-box;
}
.completed-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.completed-item__header {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  margin-bottom: 20px;
  max-width: 500px;
}
.completed-item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  background: #FFF;
  width: 186px;
  height: 68px;
  color: #2B54A3;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: transform 0.5s;
}
.completed-item__button:hover {
  transform: translateY(-10px);
}

.feedback {
  padding-top: 90px;
  margin-bottom: -10px;
}
.feedback__slider {
  overflow: hidden;
}
.feedback__items {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.feedback__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}
.feedback__prev {
  width: 128px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #E5EFFD;
  color: #254599;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feedback__prev:hover {
  cursor: pointer;
}
.feedback__next {
  width: 128px;
  height: 68px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feedback__next:hover {
  cursor: pointer;
}

.feedback-item {
  border-radius: 24px;
  background: #F8FBFF;
  flex: 0 0 447px;
  height: 312px;
  padding: 45px 50px 56px 50px;
  box-sizing: border-box;
}
.feedback-item__person {
  display: flex;
  align-items: center;
}
.feedback-item__avatar {
  width: 72px;
  height: 72px;
}
.feedback-item__about {
  margin-left: 15px;
}
.feedback-item__name {
  color: var(--dark-color, #3B444E);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
}
.feedback-item__date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.feedback-item__text {
  color: var(--base-color, #6E7C87);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-top: 24px;
}

.trust {
  padding-top: 90px;
  padding-bottom: 90px;
}
.trust__items {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.trust__item {
  width: 320px;
  height: 160px;
}

.faq {
  background: #F8FBFF;
  padding-top: 90px;
  padding-bottom: 100px;
}
.faq__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.faq__left {
  flex: 0 1 58%;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(14, 35, 59, 0.07);
  padding: 45px 26px 44px 35px;
  box-sizing: border-box;
}
.faq__right {
  flex: 0 1 40%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 24px;
  background: #0E233B;
}

.faq-spoiler__item {
  box-sizing: border-box;
  position: relative;
}
.faq-spoiler__item::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  border-bottom: 1px solid #ECF3FC;
}
.faq-spoiler__item:last-child::after {
  display: none;
}
.faq-spoiler__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.faq-spoiler__header button {
  flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #E36D31;
  position: relative;
}
.faq-spoiler__header button::after, .faq-spoiler__header button::before {
  position: absolute;
  top: 23px;
  left: 17px;
  display: block;
  content: "";
  width: 14px;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}
.faq-spoiler__header button::before {
  transform: rotate(90deg);
}
.faq-spoiler__header button:hover {
  cursor: pointer;
}
.faq-spoiler__header.active button::before {
  transform: rotate(0deg);
}
.faq-spoiler__header:hover {
  cursor: pointer;
  background: #F8FBFF;
}
.faq-spoiler__text {
  display: flex;
}
.faq-spoiler__text img {
  width: 24px;
  height: 24px;
}
.faq-spoiler__text p {
  margin-left: 15px;
  flex: 0 1 560px;
  color: var(--dark-color, #3B444E);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.faq-spoiler__body {
  display: none;
  color: var(--base-color, #6E7C87);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  padding-left: 38px;
  text-align: justify;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.faq-right {
  padding: 65px 70px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.faq-right__img {
  position: absolute;
  top: -36px;
  right: -65px;
}
.faq-right__header {
  max-width: 280px;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.faq-right__text {
  max-width: 280px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 26.1px */
  margin-top: 24px;
}
.faq-right__name, .faq-right__phone {
  width: 100%;
  height: 68px;
  border-radius: 48px;
  background: #FFF;
  padding: 10px 24px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.faq-right__name::-moz-placeholder, .faq-right__phone::-moz-placeholder {
  color: #AEBBCF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.faq-right__name::placeholder, .faq-right__phone::placeholder {
  color: #AEBBCF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.faq-right__name {
  margin-top: 50px;
}
.faq-right__submit {
  width: 100%;
  height: 68px;
}
.faq-right__submit:hover {
  cursor: pointer;
}
.faq-right__policy {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 16px;
}
.faq-right__policy a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration-line: underline;
}

.contacts {
  height: 843px;
  position: relative;
}
.contacts__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.contacts__container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.contacts__block {
  width: 566px;
  height: 563px;
  padding: 60px 70px;
  box-sizing: border-box;
  border-radius: 24px;
  background: #0E233B;
}
.contacts__name {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__header {
  color: #FFF;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
.contacts__text {
  color: #FFF;
  font-family: TT Firs Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */
  margin-top: 18px;
}
.contacts__phone {
  position: relative;
  margin-top: 30px;
}
.contacts__phone p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__phone::before {
  position: absolute;
  top: 6px;
  left: 0;
  display: inline-block;
  content: url("../img/icon/phone-orange.svg");
}
.contacts__number {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__phone p, .contacts__number {
  margin-left: 30px;
}
.contacts__button {
  width: 294px;
  height: 68px;
  margin-top: 55px;
}/*# sourceMappingURL=main.css.map */