@import "reset";
@import "burger";

.burger {
    span, &::before, &::after {
        background-color: #3A69B8;
    }

    &_close {
        span, &::before, &::after {
            background-color: #fff;
        }
    }
}

@import "header";

.header__top {
    background-color: #fff;
}

@import "track";

.track {
    padding-top: 190px;
    padding-bottom: 10px;
}


@media (max-width: 980px) {
    .track {
        padding-top: 150px;
    }
}

@import "feedback";

.feedback {
    padding-top: 20px;
    margin-bottom: 20px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }

    &__item {
        flex: 0 1 31%;
    }
}

@media (max-width: 1100px) {
    .feedback {
        &__item {
            flex: 0 1 48%;
        }
    }
}

@media (max-width: 830px) {
    .feedback {
        &__item {
            flex: 0 1 100%;
        }
    }
}


@media (max-width: 830px) {
    .feedback {
        &__container {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@import "request";
@import "trust";
@import "faq";
@import "contacts";
@import "footer";
@import "popup";